In [101]:
import pandas as pd

In [102]:
data=pd.read_csv('F:/Python Programs/DataSets/hackerrank/quora.csv',delimiter=' ')

In [103]:
data.head(10)

,id,review,f1,f2,f3,f4,f5,f6,f7,f8,...,f14,f15,f16,f17,f18,f19,f20,f21,f22,f23
0,Nt8FJ,1,12087620705283,4.797982,1,4.990433,6.492240,80.0,0.0,0.0,...,10,10,11,11,10,10,14,24.653960,20.0,20.0
1,VCaTF,1,282114466020,3.151926,1,3.737670,3.891820,83.0,0.0,0.0,...,10,10,11,10,10,10,2,22.890372,20.0,20.0
2,gParY,1,173284955,1.785813,1,1.791759,1.945910,0.0,0.0,0.0,...,10,10,11,10,10,10,6,23.637586,20.0,20.0
3,DtWDw,1,4708728355523,2.394989,1,3.091042,2.890372,0.0,0.0,0.0,...,10,10,11,11,10,10,5,22.772589,20.0,20.0
4,4hUov,1,1459162488,2.002920,1,4.836282,4.158883,0.0,0.0,0.0,...,10,10,11,10,10,10,7,22.397895,20.0,20.0
5,4VnZH,-1,747590455,1.380899,1,3.091042,2.397895,0.0,0.0,0.0,...,10,10,10,10,10,10,2,21.791759,20.0,20.0
6,madOS,1,42438676159,0.000000,1,4.488636,3.912023,65.0,0.0,0.0,...,10,10,10,11,10,10,0,21.945910,20.0,20.0
7,6DvWu,-1,14994168760886,1.816477,1,0.693147,1.386294,0.0,0.0,0.0,...,10,10,10,10,11,10,3,22.484907,20.0,20.0
8,bvQwT,1,6888628852259,3.009992,1,4.744932,6.274762,0.0,0.0,0.0,...,10,10,10,11,11,10,1,22.079442,20.0,20.0
9,Yyon1,1,5543511301254,1.714707,1,3.135494,3.295837,0.0,0.0,0.0,...,10,10,11,10,10,10,3,22.772589,20.0,20.0

In [104]:
id_=data['id']
data.drop('id',axis=1,inplace=True)

In [105]:
data.head()

,review,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f14,f15,f16,f17,f18,f19,f20,f21,f22,f23
0,1,12087620705283,4.797982,1,4.990433,6.492240,80.0,0.0,0.0,0,...,10,10,11,11,10,10,14,24.653960,20.0,20.0
1,1,282114466020,3.151926,1,3.737670,3.891820,83.0,0.0,0.0,1,...,10,10,11,10,10,10,2,22.890372,20.0,20.0
2,1,173284955,1.785813,1,1.791759,1.945910,0.0,0.0,0.0,0,...,10,10,11,10,10,10,6,23.637586,20.0,20.0
3,1,4708728355523,2.394989,1,3.091042,2.890372,0.0,0.0,0.0,0,...,10,10,11,11,10,10,5,22.772589,20.0,20.0
4,1,1459162488,2.002920,1,4.836282,4.158883,0.0,0.0,0.0,0,...,10,10,11,10,10,10,7,22.397895,20.0,20.0

In [106]:
features,label=data.drop('review',axis=1),data['review']
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(features,label,test_size=0.2,random_state=42)

In [107]:
ytrain

4137    1
3525    1
2652    1
605     1
2194   -1
       ..
4426    1
466     1
3092   -1
3772   -1
860    -1
Name: review, Length: 3600, dtype: int64

In [113]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=200,max_depth=3)
rf.fit(xtrain,ytrain)
pred=rf.predict(xtest)

In [114]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(ytest,pred))
print(classification_report(ytest,pred))

[[361  74]
 [ 82 383]]
              precision    recall  f1-score   support

          -1       0.81      0.83      0.82       435
           1       0.84      0.82      0.83       465

    accuracy                           0.83       900
   macro avg       0.83      0.83      0.83       900
weighted avg       0.83      0.83      0.83       900

In [124]:
test=pd.read_csv('F:/Python Programs/DataSets/hackerrank/quora_test.csv',delimiter=' ')

In [125]:
test_id=test['id']
test.drop('id',axis=1,inplace=True)

In [126]:
model=RandomForestClassifier(n_estimators=200)
model.fit(features,label)

RandomForestClassifier(n_estimators=200)

In [127]:
test_pred=model.predict(test)

In [129]:
id_=test_id.values